html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family:
    Inter, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', system-ui,
    sans-serif;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color);
}

#app {
  min-width: 960px;
}
